/* CSS Externo */
/* Definir as cores Tema Dark */
/* raiz */
:root,
:root[data-theme='dark'] {
    --cor-fundo: black;
    --cor-texto: rgb(0, 0, 0);
    --menu-link: aliceblue;

    --cor-borda: aliceblue;

    --cor-hover-icone: aliceblue;


}


:root[data-theme='light'] {

    --cor-fundo: aliceblue;
    --cor-texto: black;
    --menu-link: black;


    --cor-borda: black;
    --cor-hover-icone: aliceblue;




}


* {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
}




body {
    background: linear-gradient(to right, rgb(154, 215, 241), rgb(10, 51, 91));
    /* cor do fundo */
    color: var(--cor-texto);
    /* cor TEXTOS */
    font-family: 'Courier New', Courier, monospace;
}

/* reset css = padronizar */
/* seletor universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inverter cor logo */
html[data-theme='light'] .logo {
    filter: invert(0);
}

a {
    color: var(--menu-link);
    text-decoration: none;

}

ul {
    list-style: none;
    /* estilo de lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, rgb(154, 215, 241), rgb(10, 51, 91));
    border-bottom: 5px solid var(--cor-borda);
    position: fixed;
    z-index: 9999;
    padding: .5rem 1rem;

}

.menu-desktop {

    display: none;

    /* esconde o menu  desktop */

}

/* NAV */
.menu {
    display: flex;
    /* em linha */
    /*horizontal*/
    gap: 1rem;
    /* 16px */
    align-items: center;
}

/* LI = listas */
.menu-item {
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
}


.menu-text {
    color: var(--menu-link);
    font-size: 1.0rem;

}

/* Menu hamburguer
botao menu mobile
 */

#menuHambuerger {
    margin-left: 1rem;
}

.btn-menu-mobile {

    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-texto);
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.menu-mobile {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--cor-fundo);
    width: 75%;
    height: 100vh;
    /* viewPort Altura */
    border-left: 1px solid var(--cor-borda);
    max-width: 320px;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    transition: .3s ease-in-out;
    /* voltar aqui */
    transform: translateX(100%);

}

.menu-mobile.active {
    transform: translateX(0%);

}

.menu-mobile,
.menu-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 2.5rem 1rem 2rem;
    background: gray;



}

.menu-mobile .menu-item {
    width: 100%;
    text-align: center;

}

.menu-mobile .menu-link {
    padding: 0.5rem 0;
    display: inline-block;
    font-size: 1rem;

}

.logo {
    width: 5.25rem;
    /* comprimento */
    height: 1.90rem;
    /* altura */

}

.header-toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#home {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.main-content {
    display: flex;
    flex-direction: column;

}

h1 {
    font-size: 2.5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 20px;
    font-style: normal;
}

#home,
.produtos,
.sobre,
.contato {
    padding: 2.5 1rem;
}

.produtos {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.produtos-container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.produto-card {
    display: flex;
    gap: 3rem;
    padding: 20px 0;
}

.img-card {
    height: 30%;
    width: 30%;
    border-radius: 10px;

}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

}

.card-item i {
    margin-right: 8px;
}

.card-item i:hover {
    color: var(--cor-hover-icone);
    transition: 0.3s ease-in-out;
}

.redes-sociais {
    font-size: 1.2rem;
}

.redes-sociais .instagram:hover {
    color: rgb(118, 21, 121);
}

.redes-sociais .whatsapp:hover {
    color: rgb(18, 192, 105);
}





@media (min-width: 768px) {

    #home {
        padding-top: 4rem;

    }

}








/* medidas responsivas */

@media (min-width: 768px) {

    #home {
        padding-top: 4rem;

    }

}







@media (min-width: 768px) {


    .menu-desktop {
        display: flex;
        min-width: 30%;
        /* alinhar o logo */
    }

    .btn-menu-mobile {
        display: none;
    }

    .header-toggle {
        min-width: 30%;
        /* alinhar o logo */
    }

    header {
        padding: 1rem 6rem;
    }

    h1 {
        font-size: 5rem;
    }

    #home {
        padding: 6rem 1rem 2rem 0;
    }

    .produtos {
        padding: 4rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* fim min 768px */

@media (win-width: 992px) {
    .produtos-card {
        flex-direction: row;
    }

    .img-card {
        height: 55%;
    }
}

@media (win-width: 1400px) {
    h1 {
        font-size: 6.5rem;
    }

    .img-card {
        height: 60%;
    }

    .produtos,
    .sobre {
        padding: 10rem 15rem 4rem;
    }

}